@model VendasWebMvcClone.Models.ViewModels.ModeloFormularioVendedor
@{
    ViewData["Title"] = "Editar";
}

<h1>@ViewData["Title"]</h1>

<h4>Vendedor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Editar">
            <input type="hidden" as-for="Vendedor.Id" />
            <div class="form-group">
                <label asp-for="Vendedor.Name" class="control-label"></label>
                <input asp-for="Vendedor.Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Vendedor.Email" class="control-label"></label>
                <input asp-for="Vendedor.Email" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Vendedor.BirthDate" class="control-label"></label>
                <input asp-for="Vendedor.BirthDate" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Vendedor.BaseSalary" class="control-label"></label>
                <input asp-for="Vendedor.BaseSalary" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Vendedor.DepartamentoId" class="control-label">
                    <select asp-for="Vendedor.DepartamentoId" asp-items="@(new SelectList(Model.Departamentos,"Id","Name"))" class="form-control">
                    </select>
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>
